{% extends 'signup.twig' %}

{% block main %}
	<main>

        <h1>Login</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if session.loggedin %}
            <div class="alert alert-success" role="alert">
                Hello {{ session.username }}! You are logged in!
            </div>
			<a href="/onePiece/index.php?page=login&action=logout" class="btn btn-primary">Logout</a>
		 {% else %}
			
		<form class="placeHolder" method="post" action="/onePiece/index.php?page=login&action=read">

			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Username</label>
				<input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Your username">
			</div>

			<div class="mb-3">
				<label for="inputPassword5" class="form-label">Password</label>
				<input type="password" name="password" id="inputPassword5" class="form-control" placeholder="Your password">
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">I am not a bot</label>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>

		</form>
		{% endif %}
	</main>
{% endblock %}
{% block footer %}
    <footer>
        <p>Good luck logging in!</p>
    </footer>
{% endblock %}